*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    text-align: center;
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-subtitle {
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 64px;
}

/* HEADER */

.header {
    padding: 20px 0;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo__img {
    width: 100px;
    height: auto;
}

.logo__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: -5px;
}

.nav__list {
    display: flex;
}

.nav__list-item {
    margin-left: 35px;
}

.nav__list-item:first-child {
    margin-left: 0;
}

.nav__list-item__link {
    font-weight: 500;
    color: #ffffffab;
    transition: all linear .2s;
}

.nav__list-item__link:hover {
    color: #ffffff;
}

.tel {
    font-weight: 700;
    font-size: 20px;

}

.nav__list-item__link.button {
    padding: 13px 18px;
    color: #ffffff;
    background: #bc4123;
    border-radius: 45px;
    transition: all linear .2s;
}

.nav__list-item__link.button:hover {
    box-shadow: 0 0 15px #bc4123;
}

/* INTRO */

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/background1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.intro::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .56);
}

.intro__inner {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.intro__title {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.intro__subtitle {
    font-size: 24px;
    color: rgba(255, 255, 255, .7);
    max-width: 600px;
    margin: 0 auto 60px auto;
}

.intro__link {
    color: #ffffff;
    padding: 15px 20px;
    background: #4b7a91;
    margin-left: 35px;
    border-radius: 6px;
    transition: all linear .2s;
}

.intro__link:first-child {
    background: #bc4123;
    margin-left: 0;
}

.intro__link:first-child:hover {
    box-shadow: 0 0 15px #bc4123;
}

.intro__link:hover {
    box-shadow: 0 0 15px #4b7a91;
}

.arrow__button {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    z-index: 2;
    animation: animate 1s infinite;
    animation-timing-function: linear;
}

/* STAGES */

.stages {
    color: #000000;
    padding: 120px 0;
}

.stages__inner {
    max-width: 770px;
    margin: 0 auto;
}

.stages__list-item {
    display: flex;
    text-align: right;
    width: 50%;
    position: relative;
    right: -33px;
}

.stages__list-num__box {
    order: 2;
    position: relative;
}

.stages__list-item:nth-child(even) {
    text-align: left;
    margin-left: auto;
    position: relative;
    left: -32px;
}

.stages__list-item:nth-child(even) .stages__list-num__box {
    order: -1;
}

.stages__list-separate {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;

    border: 1px dashed rgba(0,0,0, .2);
}

.stages__list-item:last-child .stages__list-separate {
    display: none;
}

.stages__list-number {
    display: inline-block;
    font-size: 24px;
    color: rgba(229, 127, 73, 1);
    position: relative;
    z-index: 200;
    text-align: center;
    width: 64px;
    height: 64px;
    padding: 19px 0 15px 2px;
    border-radius: 50%;
    background: #fff;
}


.stages__list-content {
    padding: 0 32px 56px 0;
}

.stages__list-item:last-child .stages__list-content {
    padding-bottom: 0;
}

.stages__list-item:nth-child(even) .stages__list-content {
    padding: 0 0 56px 32px;
}

.stages__list-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 25px;
}

.stages__list-text {
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, .7);
}

/* SERVICES */

.services {
    padding: 120px 0;
}

.services__inner {
    text-align: center;
    color: #000000;
}

.services__title.section-title {
    margin-bottom: 64px;
}

.services__cards {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.services__card {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    width: 100%;
}

.services__card-box {
    margin-bottom: 40px;
}

.services__card-img__box {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 24px;
}

.services__card-img__box img {
    height: 100%;
    width: 100%;
    object-fit: inherit;
    border-radius: inherit;
}

.services__card-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.services__card-price {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    color: rgba(229, 127, 73, 1);
}

.services__card-link a {
    color: #ffffff;
    padding: 15px 31px;
    border-radius: 6px;
    background-color: rgba(229, 127, 73, 1);
    transition: all linear .3s;
}

.services__card-link a:hover {
    box-shadow: 0 0 15px rgba(229, 127, 73, 1);
}

.choose {
    padding: 120px 0;
    background: rgb(156,158,158);
    background: linear-gradient(180deg, rgba(156,158,158,1) 10%, rgba(1,187,211,1) 100%);
}

.choose_inner {
    color: #ffffff;

}

.choose__subtitle {
    color: #ffffff;
    max-width: 730px;
    margin: 0 auto 64px;
}

.choose__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px 60px;
    text-align: center;
}

.choose__list-item {
    max-width: 350px;
}

.choose__list-item__img-box {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.choose__list-item__img-box svg{
    width: 48px;
    height: 48px;

}

.choose__list-item__img-box svg path{
    fill: #E57F49;
}

.choose__list-item__title {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

.choose__list-item__text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}


@keyframes animate {
    0% {
        bottom: 15px;
    }

    50% {
        bottom: 0px;
    }

    100% {
        bottom: 15px;
    }
}
